# git rm -r --cached .
# git add .

/8bit/*.out

# YouTube
/???????????.m4a
/???????????.opus
/???????????.webm

# ...
/ph?????????????.m4a

# nicovideo.jp
/sm????????.m4a

# LilyPond
/*.ly.midi
/*.ly.pdf
