# git rm -r --cached .
# git add .

/ly.scores.0.old/??????.*/*.midi
/ly.scores.0.old/??????.*/*.pdf
/ly.scores.0.old/??????.*/*.aiff
/ly.scores.0.old/??????.*/*.wav
/ly.scores.0.old/??????.*/*.tmp.ly
/ly.scores.0.old/??????.*/*.m4a

# /ly.scores.d/??????.*/CTRL*
/ly.scores.0.old/??????.*/CTRL

/ly.conf.mk

/ly.scores.0.old/lko686.test/
