/??????.*/*.midi
/??????.*/*.pdf
/??????.*/*.aiff
/??????.*/*.wav
/??????.*/*.tmp.ly
/??????.*/*.m4a
/??????.*/CTRL

/????????.??????.*/*.midi
/????????.??????.*/*.pdf
/????????.??????.*/*.aiff
/????????.??????.*/*.wav
/????????.??????.*/*.tmp.ly
/????????.??????.*/*.m4a
/????????.??????.*/CTRL
